.vscode/**
*.vsix
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
node_modules/**
contributing.md
.travis.yml
client/.babelrc
client/.npmrc
client/package-lock.json
client/webpack.config.js
client/src/**
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**
!client/node_modules/node-fetch/**
server/src
